<div class = 'container' style = 'text-align: justify'>

    <h1 style = 'text-align: center'>Motivação</h1>

    <br>
    <br>

    <p>
        A proteção da confidencialidade de informações sensíveis é uma das questões mais fundamentais de segurança. 
Infelizmente, frequentemente esconder informações sensíveis é impossível, pois é necessário revelar alguma informação 
de um determinado sistema. Em uma eleição, o voto individual é secreto, mas é necessário revelar a soma total dos 
votos publicamente. Ou, em um verificador de senhas, é necessário rejeitar uma senha incorreta, o que revela informação 
sobre o que não é a senha.    
    </p>
    <p>
        Uma das abordagens mais promissoras para diminuir esse vazamento de informação é a teoria de quantificação da 
teoria vazada, que nos informa quanta informação foi vazada, e pode dar margem para a tolerância de pequenos vazamentos 
de informação.            
    </p>
</div>