<div class = 'container' style = "text-align: justify; text-justify: inter-word;">

    <h1 style = 'text-align: center'>Introdução</h1>
        
    <br>
    <br>
        
    <p>
        Com a ubiquidade da computação que vivemos hoje em dia, segurança se torna uma questão mais importante do que nunca, 
que nem sempre é tratada com sucesso. Grandes vazamentos de dados são relativamente comuns, e suas consequências são,
muitas vezes, catastróficas.
    </p>

    <p>
    Frequentemente há notícias de vazamentos de dados, oriundos de ataques de hackers. Isto pode causar grande problemas
pessoais. Seja pela divulgação de informações confidenciais, como cartões de crédito ou CPFs, seja pela inferência de 
informações confidenciais à partir de dado, à primeira vista, não relacionados<a href = "http://www.businessinsider.com/the-incredible-story-of-how-target-exposed-a-teen-girls-pregnancy-2012-2
">[¹]</a>.
    </p>
    
    <p>
    Através deste site, esperamos esclarecer as questões relacionadas com este problema, explicando os fundamentos da 
teoria e explorando uma aplicação direta desta área de estudo.
    </p>

</div>