<ul>
    <div class = 'row'>
        <div class = 'col-4'></div>
        <div class = 'col-4'>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#motivation">Motivação</a>
            </li>
            <li>
                <a href="#fundaments">Fundamentos</a>
            </li>
            <li>
                <a href="#applications/graph-editor">Editor de Grafos</a>
            </li>
        </div>
        <div class = 'col-4'></div>
    </div>
</ul>
