<div class = 'container'>
    <nav>
        <a>Navigation:</a>
            <ul>
                <button (click) = "redirect('./')">Introdução</button>
                <br>
                <button (click) = "redirect('./fundaments')">Fundamentos</button>
                <br>
                <button (click) = "redirect('./motivation')">Motivação</button>
                <br>
                <button (click) = "redirect('./applications/graph-editor')">Editor de Grafos</button>
            </ul>
    </nav>      
<div>